body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Cards:hover{
  background-color: black;
  color: white;
  /* box-shadow: 5px 5px 10px 10px rgb(153, 202, 220); */
}
#bgimage{
  opacity: "0.2";
}
/* #headline{
  color:'green';
  width: "100px !important";
  
  


} */
